/* =================================== GENERAL CSS =================================== */
body  {
  font-family: "Lato", sans-serif;
  background-image: url("../img/bandana.png");
}

.tabcontent {
  background-color: rgba(255,255,255,0.95);
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .activeTab {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.smallerText {
  text-align:center;
  font-size: 10px;
  font-style: italic;
}

.progress {
  margin-bottom: 10px;
}

.bg-warning {
  background-color: #f0ad4e !important;
}

.kumoimage img {
  display:block;
  margin: auto;
  width:100%;
}

#Prompts.tabcontent {
  height:100vh;
}

#Bandana.tabcontent {
  background-color: rgba(0,0,0,0);
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* Prompt Gallery CSS */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 3em;
  text-align: left;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-40px,0,0);
  transform: translate3d(-40px,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  padding: 15% 0 10px 0;
  text-align: left;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  border: 1px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding:10px;
  border-radius:10px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
  transition: opacity 0.35s, transform 0.45s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
}

.hovereffect p {
  background-color: rgba(51,51,51,0.75);
}

.hovereffect:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* table colors */
.achievementsButton {
  border-radius: 5px;
  padding: 2px;
}
.bg-tutorial { background-color: rgb(224,102,102); }
.bg-exclusive { background-color: rgb(246,178,107); }
.bg-quest { background-color: rgb(147,196,125); }
.bg-lifeskills { background-color: rgb(118,165,175); }

.craftingItem {
  padding: 10px;
}
/* =================================================================================== */

/* =================================== BUBBLE HOVER ================================== */
/*---------- bubble tooltip -----------*/
a.tt{
  position:relative;
  z-index:24;
  color:#3CA3FF;
	font-weight:bold;
  text-decoration:none;
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; color: #aaaaff; background:;}
a.tt:hover span.tooltip{
  display:block;
  position:absolute;
  top:0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
	color: #993300;
  text-align: center;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
  background: url(../img/bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
	display: block;
	padding: 0 8px; 
	background: url(../img/bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
  background: url(../img/bubble.gif) no-repeat bottom;
}
/* =================================================================================== */

/* =================================== PROMPTS CSS =================================== */
/* Container
---------------------------------------------------------------------- */
.promptsContainer {
  padding: 1rem;
  text-align: justify;
  font-size: 0.1px;
}

.promptsContainer:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */
div.mix {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  margin-top: 10px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

div.mix:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.50);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.50);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.50);
}

div .mix a { text-decoration: none; }

div.mix img {
  width: 100%;
  height: auto;
}

.mix .card-content {
  padding: 10px;
  font-size: 12px;
}

.mix .card-content .card-title, .mix .card-content .card-title:hover {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.promptsPrompt { background-color: #292b2c; }
.alchemyPrompt { background-color: #da4444; }
.anglingPrompt { background-color: #4caac9; }
.huntingPrompt { background-color: #6cb83a; }
.gatheringPrompt { background-color: #d061c7; }
.miningPrompt { background-color: #7161d0; }
.woodcuttingPrompt { background-color: #c2743b; }

/* Grid Breakpoints
---------------------------------------------------------------------- */
/* 2 Columns */
.mix, .gap {
  width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */
@media screen and (min-width: 541px) {
  .mix, .gap {
    width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
  }
}

/* 4 Columns */
@media screen and (min-width: 961px) {
  .mix, .gap {
    width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
  }
}

/* 5 Columns */
@media screen and (min-width: 1281px) {
  .mix, .gap {
    width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
  }
}
/* =================================================================================== */

/* ================================= PROMPTS BUTTON ================================== */
/* Prompts Button */
.btn-prompts { 
  color: #ffffff; 
  background-color: #292B2C; 
  border-color: #1A1B1C; 
} 
 
.btn-prompts:hover, 
.btn-prompts:focus, 
.btn-prompts:active, 
.btn-prompts.active, 
.open .dropdown-toggle.btn-prompts { 
  color: #ffffff; 
  background-color: #151617; 
  border-color: #1A1B1C; 
} 
 
.btn-prompts:active, 
.btn-prompts.active, 
.open .dropdown-toggle.btn-prompts { 
  background-image: none; 
} 
 
.btn-prompts.disabled, 
.btn-prompts[disabled], 
fieldset[disabled] .btn-prompts, 
.btn-prompts.disabled:hover, 
.btn-prompts[disabled]:hover, 
fieldset[disabled] .btn-prompts:hover, 
.btn-prompts.disabled:focus, 
.btn-prompts[disabled]:focus, 
fieldset[disabled] .btn-prompts:focus, 
.btn-prompts.disabled:active, 
.btn-prompts[disabled]:active, 
fieldset[disabled] .btn-prompts:active, 
.btn-prompts.disabled.active, 
.btn-prompts[disabled].active, 
fieldset[disabled] .btn-prompts.active { 
  background-color: #292B2C; 
  border-color: #1A1B1C; 
} 
 
.btn-prompts .badge { 
  color: #292B2C; 
  background-color: #ffffff; 
}
/* Alchemy Button */
.btn-alchemy { 
  color: #ffffff; 
  background-color: #DA4444; 
  border-color: #BD3535; 
} 
 
.btn-alchemy:hover, 
.btn-alchemy:focus, 
.btn-alchemy:active, 
.btn-alchemy.active, 
.open .dropdown-toggle.btn-alchemy { 
  color: #ffffff; 
  background-color: #B53636; 
  border-color: #BD3535; 
} 
 
.btn-alchemy:active, 
.btn-alchemy.active, 
.open .dropdown-toggle.btn-alchemy { 
  background-image: none; 
} 
 
.btn-alchemy.disabled, 
.btn-alchemy[disabled], 
fieldset[disabled] .btn-alchemy, 
.btn-alchemy.disabled:hover, 
.btn-alchemy[disabled]:hover, 
fieldset[disabled] .btn-alchemy:hover, 
.btn-alchemy.disabled:focus, 
.btn-alchemy[disabled]:focus, 
fieldset[disabled] .btn-alchemy:focus, 
.btn-alchemy.disabled:active, 
.btn-alchemy[disabled]:active, 
fieldset[disabled] .btn-alchemy:active, 
.btn-alchemy.disabled.active, 
.btn-alchemy[disabled].active, 
fieldset[disabled] .btn-alchemy.active { 
  background-color: #DA4444; 
  border-color: #BD3535; 
} 
 
.btn-alchemy .badge { 
  color: #DA4444; 
  background-color: #ffffff; 
}
/* Angling Button */
.btn-angling { 
  color: #ffffff; 
  background-color: #4CAAC9; 
  border-color: #388EAB; 
} 
 
.btn-angling:hover, 
.btn-angling:focus, 
.btn-angling:active, 
.btn-angling.active, 
.open .dropdown-toggle.btn-angling { 
  color: #ffffff; 
  background-color: #3A87A1; 
  border-color: #388EAB; 
} 
 
.btn-angling:active, 
.btn-angling.active, 
.open .dropdown-toggle.btn-angling { 
  background-image: none; 
} 
 
.btn-angling.disabled, 
.btn-angling[disabled], 
fieldset[disabled] .btn-angling, 
.btn-angling.disabled:hover, 
.btn-angling[disabled]:hover, 
fieldset[disabled] .btn-angling:hover, 
.btn-angling.disabled:focus, 
.btn-angling[disabled]:focus, 
fieldset[disabled] .btn-angling:focus, 
.btn-angling.disabled:active, 
.btn-angling[disabled]:active, 
fieldset[disabled] .btn-angling:active, 
.btn-angling.disabled.active, 
.btn-angling[disabled].active, 
fieldset[disabled] .btn-angling.active { 
  background-color: #4CAAC9; 
  border-color: #388EAB; 
} 
 
.btn-angling .badge { 
  color: #4CAAC9; 
  background-color: #ffffff; 
}
/* Hunting Button */
.btn-hunting { 
  color: #ffffff; 
  background-color: #6CB83A; 
  border-color: #5EA132; 
} 
 
.btn-hunting:hover, 
.btn-hunting:focus, 
.btn-hunting:active, 
.btn-hunting.active, 
.open .dropdown-toggle.btn-hunting { 
  color: #ffffff; 
  background-color: #5FA332; 
  border-color: #5EA132; 
} 
 
.btn-hunting:active, 
.btn-hunting.active, 
.open .dropdown-toggle.btn-hunting { 
  background-image: none; 
} 
 
.btn-hunting.disabled, 
.btn-hunting[disabled], 
fieldset[disabled] .btn-hunting, 
.btn-hunting.disabled:hover, 
.btn-hunting[disabled]:hover, 
fieldset[disabled] .btn-hunting:hover, 
.btn-hunting.disabled:focus, 
.btn-hunting[disabled]:focus, 
fieldset[disabled] .btn-hunting:focus, 
.btn-hunting.disabled:active, 
.btn-hunting[disabled]:active, 
fieldset[disabled] .btn-hunting:active, 
.btn-hunting.disabled.active, 
.btn-hunting[disabled].active, 
fieldset[disabled] .btn-hunting.active { 
  background-color: #6CB83A; 
  border-color: #5EA132; 
} 
 
.btn-hunting .badge { 
  color: #6CB83A; 
  background-color: #ffffff; 
}
/* Gathering Button */
.btn-gathering { 
  color: #ffffff; 
  background-color: #D061C7; 
  border-color: #B04AA7; 
} 
 
.btn-gathering:hover, 
.btn-gathering:focus, 
.btn-gathering:active, 
.btn-gathering.active, 
.open .dropdown-toggle.btn-gathering { 
  color: #ffffff; 
  background-color: #C455BB; 
  border-color: #B04AA7; 
} 
 
.btn-gathering:active, 
.btn-gathering.active, 
.open .dropdown-toggle.btn-gathering { 
  background-image: none; 
} 
 
.btn-gathering.disabled, 
.btn-gathering[disabled], 
fieldset[disabled] .btn-gathering, 
.btn-gathering.disabled:hover, 
.btn-gathering[disabled]:hover, 
fieldset[disabled] .btn-gathering:hover, 
.btn-gathering.disabled:focus, 
.btn-gathering[disabled]:focus, 
fieldset[disabled] .btn-gathering:focus, 
.btn-gathering.disabled:active, 
.btn-gathering[disabled]:active, 
fieldset[disabled] .btn-gathering:active, 
.btn-gathering.disabled.active, 
.btn-gathering[disabled].active, 
fieldset[disabled] .btn-gathering.active { 
  background-color: #D061C7; 
  border-color: #B04AA7; 
} 
 
.btn-gathering .badge { 
  color: #D061C7; 
  background-color: #ffffff; 
}
/* Mining Button */
.btn-mining { 
  color: #ffffff; 
  background-color: #7161D0; 
  border-color: #5644BD; 
} 
 
.btn-mining:hover, 
.btn-mining:focus, 
.btn-mining:active, 
.btn-mining.active, 
.open .dropdown-toggle.btn-mining { 
  color: #ffffff; 
  background-color: #695CB8; 
  border-color: #5644BD; 
} 
 
.btn-mining:active, 
.btn-mining.active, 
.open .dropdown-toggle.btn-mining { 
  background-image: none; 
} 
 
.btn-mining.disabled, 
.btn-mining[disabled], 
fieldset[disabled] .btn-mining, 
.btn-mining.disabled:hover, 
.btn-mining[disabled]:hover, 
fieldset[disabled] .btn-mining:hover, 
.btn-mining.disabled:focus, 
.btn-mining[disabled]:focus, 
fieldset[disabled] .btn-mining:focus, 
.btn-mining.disabled:active, 
.btn-mining[disabled]:active, 
fieldset[disabled] .btn-mining:active, 
.btn-mining.disabled.active, 
.btn-mining[disabled].active, 
fieldset[disabled] .btn-mining.active { 
  background-color: #7161D0; 
  border-color: #5644BD; 
} 
 
.btn-mining .badge { 
  color: #7161D0; 
  background-color: #ffffff; 
}
/* Wood-Cutting Button */
.btn-woodcutting { 
  color: #ffffff; 
  background-color: #C2743B; 
  border-color: #A8612D; 
} 
 
.btn-woodcutting:hover, 
.btn-woodcutting:focus, 
.btn-woodcutting:active, 
.btn-woodcutting.active, 
.open .dropdown-toggle.btn-woodcutting { 
  color: #ffffff; 
  background-color: #AD6532; 
  border-color: #A8612D; 
} 
 
.btn-woodcutting:active, 
.btn-woodcutting.active, 
.open .dropdown-toggle.btn-woodcutting { 
  background-image: none; 
} 
 
.btn-woodcutting.disabled, 
.btn-woodcutting[disabled], 
fieldset[disabled] .btn-woodcutting, 
.btn-woodcutting.disabled:hover, 
.btn-woodcutting[disabled]:hover, 
fieldset[disabled] .btn-woodcutting:hover, 
.btn-woodcutting.disabled:focus, 
.btn-woodcutting[disabled]:focus, 
fieldset[disabled] .btn-woodcutting:focus, 
.btn-woodcutting.disabled:active, 
.btn-woodcutting[disabled]:active, 
fieldset[disabled] .btn-woodcutting:active, 
.btn-woodcutting.disabled.active, 
.btn-woodcutting[disabled].active, 
fieldset[disabled] .btn-woodcutting.active { 
  background-color: #C2743B; 
  border-color: #A8612D; 
} 
 
.btn-woodcutting .badge { 
  color: #C2743B; 
  background-color: #ffffff; 
}
/* =================================================================================== */