body  {
  font-family: "Lato", sans-serif;
  background-image: url("../img/bandana.png");
}

.tabcontent {
  background-color: rgba(255,255,255,0.95);
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .activeTab {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.smallerText {
  float: right;
  font-size: 10px;
  font-style: italic;
}

.progress {
  margin-bottom: 10px;
}

.bg-warning {
  background-color: #f0ad4e !important;
}

.kumoimage img {
  display:block;
  margin: auto;
  width:100%;
}

#Bandana.tabcontent {
  background-color: rgba(0,0,0,0);
  border-bottom: 0px;
}